<authentication></authentication>
<div class="row">
	<div class="col-lg-12">
		<!-- <ol class="breadcrumb">
			<li><a href="javascript:void(0);">Home</a></li>
			<li class="active"><span>Advanced tables</span></li>
		</ol> -->
		
		<h1 class="advn_tbl">Manage Products</h1>
		<div class="row"></div>
		<pagination total-items="totalItems" max-size="maxSize" ng-model="currentPage" items-per-page="itemsPerPage" ng-change="pageChanged()"></pagination>
		
			<div class="shorting-block">
				<select ng-model="itemsPerPage" class="form-control">
					<option value="10">10</option>
					<option value="25">25</option>
					<option value="50">50</option>
					<option value="100">100</option>
				</select>
			</div>
			<div class="right_buttons mnge_pduct">				
				<span style="width:120px; position: relative;border: 1px solid #ccc; display: block;float: right; margin-left: 5px;">
				 <my-tag src="'products'" callback="getUpdatedData(data)"></my-tag>
					<span style="position: absolute;top: 6px;right: 7px;z-index: 10; background: #fff; cursor: pointer; padding: 0 3px;">
						<a href="javascript:void(0);"><i class="fa fa-search"></i></a>
					</span>
				</span>
				
				<a data-match-route="/products/add-product" href="#/products/add-product" ng-if="userData.role < 15" class="btn btn-primary pull-right"><i class="fa fa-plus-circle fa-lg"></i>&nbsp;Add New</a>
				<span data-toggle="modal" data-target="#dnd_popup" ng-if="userData.role <= 10" class="btn btn-primary pull-right" style="margin-right:5px; margin-left:5px;"><i class="fa fa-exchange fa-rotate-90"></i></span>
				<select ng-model="selectCategory" ng-change="ddlCategory()"  class="form-control" style=" float: right;">
					<option value="">All</option>
					<option ng-repeat="c in categoryListArray" value="{{c.category_id}}">{{c.category_name}}</option>
				</select>
			</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="main-box clearfix">
			<!-- <header class="main-box-header clearfix">
				<h2>Table with JS pagination, search, ordering, export to pdf and lots more.</h2>
			</header> -->
			&nbsp;
			<div class="clearfix"></div>
			<div class="main-box-body clearfix">
				<div class="table-responsive" style="padding: 0 15px;">
					<table id="table-example" class="table table-hover user-list">
						<thead>
							<tr>
							 <!-- <th></th> -->
							  <th ng-click="sort('product_name')" >Product Name<span class="glyphicon sort-icon" ng-show="sortKey=='product_name'" ng-class="{'glyphicon-chevron-up':!reverse,'glyphicon-chevron-down':reverse}"></th>
							  <th ng-click="sort('category_name')" >Product Category<span class="glyphicon sort-icon" ng-show="sortKey=='category_name'" ng-class="{'glyphicon-chevron-up':!reverse,'glyphicon-chevron-down':reverse}"></th>
							   <th ng-click="sort('product_desc')" style="width: 300px;">Product Description<span class="glyphicon sort-icon" ng-show="sortKey=='product_desc'" ng-class="{'glyphicon-chevron-up':!reverse,'glyphicon-chevron-down':reverse}"></th>
							   <th ng-click="sort('launch_date')" style="width: 300px;">Launch Date<span class="glyphicon sort-icon" ng-show="sortKey=='launch_date'" ng-class="{'glyphicon-chevron-up':!reverse,'glyphicon-chevron-down':reverse}"></th>
							   
								
								<th ng-if="userData.role <= 10">Specifications</th>
								<th ng-click="sort('status')" >Status<span class="glyphicon sort-icon" ng-show="sortKey=='status'" ng-class="{'glyphicon-chevron-up':!reverse,'glyphicon-chevron-down':reverse}"></th>
								<th ng-if="userData.role <= 20" class="text-center">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="x in list.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))|orderBy:sortKey:reverse">
								<td>
									<div class="tbl_img">
									<img ng-if="x.asset_image != null && x.asset_image[0].name != ''" title="{{x.product_name}}" src="{{baseUrl}}{{x.asset_image[0].path}}/thumbnail/{{x.asset_image[0].name}}"/>
									<img ng-if="!x.asset_image" title="{{x.product_name}}" src="assets\img\no_image.jpg"/>
									</div>
									<a href="#products/edit-product/{{x.id}}" ng-if="userData.role < 25"  title="{{x.product_name}}" class="user-link dis_criptn2">{{x.product_name}}</a>
									<span ng-if="userData.role > 25"  title="{{x.product_name}}" class="user-link dis_criptn2">{{x.product_name}}</span>
									<span ng-if="x.new_product_flag == '1'" class="new_span_img"><img src="assets\img\new.gif" /></span>
								</td>
								<!-- <td></td> -->
								<td title="{{x.category_name}}">{{x.category_name}}</td>
								<td><div title="{{x.product_desc}}" class="dis_criptn2">{{x.product_desc}}</div></td>
								
								<td>{{x.launch_date | date:"dd/MM/yyyy"}}</td>
								<td  class="text-center" ng-if="x.spec_status == 1 && userData.role <= 10" ><a href="#/specification/view-specification/{{x.id}}/gionee"><span class="required">View Specifications</span></a></td>
								<td class="text-center" ng-if="x.spec_status == 0 && userData.role <= 10"> No Specifications</td>
								<td>
									<span  ng-class="x.status=='1' ? 'label label-success' : 'label label-danger'" >{{x.status|statusFilter}}</span>
								</td>
								<td ng-if="userData.role <= 20" class="text-center">
									
								
									<a data-match-route="/products/edit-product" ng-if="userData.role < 25" href="#products/edit-product/{{x.id}}" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a>
							
								 <a href="javascript:void(0);" class="table-link danger" ng-if="userData.role < 15" ng-click="deleteProd(x.id)"> 
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
					
				</div>
			</div>
		</div>
		<pagination total-items="totalItems" max-size="maxSize" ng-model="currentPage" items-per-page="itemsPerPage" ng-change="pageChanged()"></pagination>
	</div>
</div>


<!-- Drag n Drop Model -->
<div class="modal fade" id="dnd_popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Ordering Product</h4>
      </div>
      <div class="modal-body">
        <!--  tab start here -->
			<div class="simpleDemo">
			    <!-- add from library end here -->			
				<form>
				<ul dnd-list="orderList">
					<li ng-repeat="item in orderList" dnd-draggable="item" dnd-moved="orderList.splice($index, 1)" dnd-effect-allowed="move"
					dnd-selected="models.selected = item" ng-class="{'selected': models.selected === item}">
						<div class="row"><div class="col-sm-1">{{$index + 1}}</div><div class="col-sm-11">{{item.product_name}}</div></div>
					</li>
				</ul>
				</form>
			</div> <!--  tab end here -->
      </div>
      <div class="modal-footer">
		<button type="button" ng-click="setOrder()" class="btn btn-primary" data-dismiss="modal">Save</button>
		<button type="button" class="btn btn-default cancel" data-dismiss="modal">Close</button>
	  </div>
    </div>
  </div>
</div>
