<authentication></authentication>

<div class="row">
	<div class="col-lg-12">
		<h1 class="advn_tbl"><back></back>&nbsp; Edit Category</h1>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="main-box clearfix">
			&nbsp;
			<div class="clearfix"></div>
			<div class="main-box-body clearfix">
			<!-- Form start here -->

			<form ng-submit="submitEditCategory()">
			<div class="row">
			<div class="col-sm-6">
			  <div class="form-group">
				<label for="recipient-name" class="control-label">Name<span class="red">*</span></label>
			   <div class="cmmn_input">
			   <input type="text" ng-model="editCat.category_name" class="form-control" maxlength="50" id="recipient-name" required></div>
			  </div>
			  <!-- <div class="form-group">
				<label for="message-text" class="control-label">Parent Category<span class="red">*</span></label>
				  <div class="cmmn_input">
					<select class="form-control" ng-model="editCat.parent_category" id="parentCategory" required>
						<option value="0">Parent</option>
						<option ng-repeat="single in dataParentCat" value="{{single.id}}">{{single.category_name}}</option>
					</select>
				</div>
			  </div> -->
			  <div class="form-group">
				<label for="message-text" class="control-label">Status<span class="red">*</span></label>
				  <div class="cmmn_input">
					<!-- <select ng-model="editCat.status" class="form-control" ng-options="item.value as item.name for item in CatStatus" required>
						<option value="">Select</option>
					</select> -->
					<select ng-model="editCat.status" class="form-control" ng-options="item.value as item.name for item in CatStatus" required>
						<option value="">Select</option>
					</select>
				</div>
			  </div>
			    <div class="form-group">
				<label for="message-text" class="control-label">Available For<span class="red">*</span></label>
				 <div class="cmmn_input">
				<input type="checkbox"  ng-checked="editCat.is_product == '1'" id="id1" ng-model="editCat.is_product">&nbsp;Products&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="checkbox"  id="id2" ng-checked="editCat.is_tutorial == '1'" ng-model="editCat.is_tutorial">&nbsp;Tutorials	
				</div>
				</div>
			</div>   <!-- col-sm-6 end here  -->
				

				<div class="col-sm-6">
				<div class="form-group">
				<label for="message-text" class="control-label">Description<span class="red">*</span></label>
				  <div class="cmmn_input">
				<textarea ng-model="editCat.description" class="form-control" maxlength="255" style="min-height:190px;" required></textarea>
			  </div>
			  </div>
			</div>   <!-- col-sm-6 end here  -->
			
			<div class="col-md-12">
			<button type="submit" class="btn btn-primary">Save</button>
			<a type="button" class="btn btn-default" data-match-route="/category/manage-category" href="#manage-category">Cancel</a>
			</div>
			</div>
			</form>
			<!-- Form end here -->
			
					
	
			</div>  <!-- Main box body end here -->
		</div>
	</div>
</div>


	



<section class="add_img_section">
	<div class="row">
		<div class="col-lg-12">
		<div class="main-box">
			<div class="main-box-body clearfix">
			<div class="add_img_blk">
				<div class="col-lg-12">
				<button type="button" data-toggle="modal" data-target="#add_new_cat" class="btn  btn-primary">Add Image</button>
			</div>
			</div>
			</div></div>
		</div>									
	</div>
</section>


<!-- Gallery image start here  -->
	<div class="row">
		<div class="col-lg-12">
			<div class="main-box">
				<div class="main-box-body">
					<div id="gallery-photos-wrapper">
						<ul id="gallery-photos" class="clearfix gallery-photos gallery-photos-hover ui-sortable">
						
							<li ng-repeat="x in thisCatImages" id="recordsArray_{{x.id}}" class="col-md-2 col-sm-3 col-xs-6">
								<div class="photo-box" style="background-image: url('{{baseUrl}}/{{x.path}}/thumbnail/{{x.name}}');">
									<div class="photo_box_name">{{x.title}}</div>
								</div>
								<a href="javascript:void(0);" class="remove-photo-link">
									<span ng-click="deleteImage(x.id)" class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
						
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- Gallery image end here  -->


<!-- this page specific inline scripts -->

<div class="modal fade" id="add_new_cat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Add Category Image</h4>
      </div>
      <div class="modal-body">
        <!--  tab start here -->
			<div>
			<!-- Nav tabs -->
			    <tabset justified="false"> 
				<tab heading="Add from Library">
					<!--  Popup image gallery start here -->
					<form ng-submit="submitGallaryImage()">
				
						<div class="main-box-body ">
							<div id="gallery-photos-lightbox">
								<ul class="clearfix gallery-photos" style="margin-top:20px;">
									<li ng-repeat="x in gallaryImages.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))" class="col-md-3 col-sm-3 col-xs-6">
										<a href="javascript:void(0);" ng-click="setImage(x.id)" class="photo-box photo_box image-link" style="background-image: url('{{baseUrl}}/{{x.path}}/thumbnail/{{x.name}}');" ng-class="selectedImage==x.id?'active':''"></a>
										<span class="thumb-meta-time dis_criptn ng-binding"> {{x.title}}</span>
									</li>
								</ul>
								
							</div>
						</div>
						<div style="  margin-left: 8px;">
									<pagination total-items="totalItems" max-size="maxSize" ng-model="currentPage" ng-change="pageChanged()"></pagination>
									</div>
						<button type="submit" style="margin-left:8px;" class="btn btn-primary"> Add	</button>
						<button type="button" class="btn btn-default cancel" data-dismiss="modal">Close</button>
								
					</form>
					<!-- Popup image gallery end here -->
				</tab> 
				<!-- first Tab image gallery end here -->
					
			    <!-- add from library end here -->
				<tab heading="Add From System">
					<form id="myForm" ng-submit="submitSystemImage()">
					<div class="main-box-body" style="margin-top:12px;">
						<header class="main-box-header">
						<form style="margin-bottom: 3%;overflow:hidden;"><div class="col-md-1 col-sm-3"> <label>Title<span class="red">*</span></label></div><div class="col-md-6 col-sm-7" > <input type="text" maxlength="20" ng-model="sysUpload.title" class="form-control" name="" id="" required></div></form>
						</header>
						
						<div class="main-box-body">
							<div id="dropzone">
								<div id="demo-upload" class="dropzone dz-clickable custm_dropzone" action="#">
									<div class="dz-default dz-message">
										<span>Drop files here to upload</span>
									</div>
									<input type="file" file-model="sysUpload.imageFile" id="ig" required />
									<span>{{uploadImageName}}</span>
								</div>
							</div>
						</div>
						<button type="submit" class="btn btn-primary"> Add	</button>
						<button type="button" class="btn btn-default cancel" ng-click="clearData()" data-dismiss="modal">Close</button>
					</div>
					</form>
				</tab>
				</tabset>
			</div> <!--  tab end here -->
      </div>
      <div class="modal-footer">
       
        
      </div>
    </div>
  </div>
</div>


<!-- For Add Image Popup End -->



		</div>									
	<div>
</section>




