<authentication></authentication>
<div class="row">
	<div class="col-lg-12">
		<!-- <ol class="breadcrumb">
		<li><a href="#dasboard">Dashboard</a></li>
			<li class="active"><span>Users</span></li>
		</ol> -->
		
		<div class="clearfix">
			<h1  class="pull-left"><back></back>&nbsp;Edit User</h1>
		<!-- 	<h1 ng-if="userData.role == 20" class="pull-left">Edit Profile</h1> -->
			
			<!--div class="pull-right top-page-ui">
				<a href="javascript:void(0);" class="btn btn-primary pull-right">
					<i class="fa fa-plus-circle fa-lg"></i> Add user
				</a>
			</div-->
		</div>
	</div>
</div>
<div class="row">

	<div class="col-lg-12">
		<div class="main-box no-header clearfix">			
			<!-- First main box body start here -->
			<form id="form"  method="" ng-submit="EditUser1()">
			<div class="main-box-body clearfix">
				

					<h3>User Details</h3>
					
					<div class="col-md-6">
						<div class="form-group">
							<label for="">First Name<span class="required">*</span></label>
							<input type="text" class="form-control" ng-model="editUser.first_name"  maxlength="20" id="" placeholder="Enter First Name" required>
						</div>
					</div>
					
					<div class="col-md-6">
						<div class="form-group">
							<label for="">Last Name<span class="required">*</span></label>
							<input type="text" class="form-control" ng-model="editUser.last_name"  maxlength="20" id="" placeholder="Enter Last Name" required>
						</div>
					</div>
					
					<div class="col-md-6">	
						<div class="form-group">
							<label for="">Email Id<span class="required">*</span></label>
							<input type="email" ng-disabled="true" class="form-control" ng-model="editUser.email" id="" maxlength="40" placeholder="Enter email" required>
						</div>
					</div>
					
					<div class="col-md-6">
						<div class="form-group" style="min-height: 57px;">
						<div class="col-md-6">
							<label for="">Profile Picture
							<input type='file' ng-model-instant onchange="angular.element(this).scope().imageUpload(this)" file-model="editUser.profile_picture" id="profilePic"/ >
						</div>
							
						<div class="col-md-6" style="overflow:hidden;">
							<div class="img_edit_user" ng-repeat="step in stepsModel">
								<img ng-if="step != profileUrl" ng-src="{{step}}" />	
							</div>
						</div>
						</div>
					</div>
						<div class="col-md-6" style="clear:both;"	ng-if="userData.role==editUser.role" >
							<div class="form-group" >
								<label>Role<span class="required">*</span></label>
								<select class="form-control" ng-model="editUser.role" ng-disabled="userData.id == usr_id" required>
									<!-- <option value="10">Admin</option> -->
									  <option ng-if="userData.role == 05" value="05">Super Admin</option> 
									<option  ng-if="userData.role == 10" value="10">Admin</option>
									<option ng-if="userData.role == 20" value="20">Trainer</option>
							<option  ng-if="userData.role ==30" value="30">Supervisor</option>
							<option  ng-if="userData.role== 40" value="40">Learner</option>
								</select>
							</div>
						</div>
						<div class="col-md-6" style="clear:both;"	ng-if="userData.role<editUser.role" >
							<div class="form-group" >
								<label>Role<span class="required">*</span></label>
								<select class="form-control" ng-model="editUser.role"  required>
									<!-- <option value="10">Admin</option> -->
									<!--   <option ng-if="userData.role < 05" value="05">Super Admin</option>  -->
									<option  ng-if="userData.role < 10" value="10">Admin</option>
									<option ng-if="userData.role < 20" value="20">Trainer</option>
							<option  ng-if="userData.role < 30" value="30">Supervisor</option>
							<option  ng-if="userData.role< 40" value="40">Learner</option>
								</select>
							</div>
						</div>
					<div class="col-md-6" ng-hide='editUser.role == 5'  ><!-- ng-hide='editUser.role == 5' -->
					<div class="form-group">
							<label>{{showrole}}<span class="required">*</span></label>
							<select class="form-control" ng-model="editUser.sp_id.id"  ng-disabled="userData.role == editUser.role" required>
								<option value="" >Select </option>	
								<option ng-repeat="res in supervisorsList" ng-if="editUser.id != res.id" ng-selected="editUser.sp_id.id == res.id" value="{{res.id}}">{{res.first_name+' '+res.last_name}} </option>	
							</select>
						</div>
					
					</div>
				
					
						<div class="col-md-6" style="clear:both;">
						<div class="form-group">
							<label for="">Mobile (format : 9876543210) <span class="required">*</span></label>
							<input type="text" pattern="[789][0-9]{9}" class="form-control" ng-model="editUser.contact" id="" maxlength="10" placeholder="Enter Mobile No" required>
						</div>
						</div>
						
						<div class="col-md-6">
						<div class="form-group">
							<label>Status<span class="required">*</span></label>
							<select class="form-control"  ng-model="editUser.status" ng-disabled="userData.id == usr_id" required>
								<option value=''>Select</option>
								<option value='1'>Active</option>
								<option value='0'>Inactive</option>
							</select>
						</div>
					</div>
					
					<div class="col-md-6">
					<div class="form-group">
						<label for="maskedDate">D.O.B<span class="required">*</span></label>
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							<input type="text" class="form-control" placeholder="Date of birth" ng-model="editUser.dob" readonly id="maskedDate" required>
						</div>
						<span class="help-block">ex. DD-MM-YYYY</span>
					</div>
					
					
					
					</div>  
					
					
					
							
						<div class="col-md-6">
					<div class="form-group">
						<label for="gender">Gender<span class="required">*</span></label>
							<div class="usr_gndr" style="padding-top:5px;">
							 
								<input type="radio" name="user_gender" id="" ng-model="editUser.gender"  value="male" ><label style="vertical-align:middle;margin-left:2px;">Male</label>
							 
							
							
								<input type="radio" name="user_gender" id="" ng-model="editUser.gender" value="female"><label style="vertical-align:middle;margin-left:2px;">Female</label>
							 
							 
							</div>
						</div>
						
						
						
					</div> 
			</div>
		<!-- First Main box-body  end here -->
		
		<!-- Second main box body start here -->
		<div class="main-box-body clearfix">
				
					
				  <!-- First row end here -->
					
					<div class="row">
						<h4>Address</h4>
						
						<div class="col-md-6">
							<div class="form-group">
								<label>Zone</label>
								<select class="form-control" id="userZone" ng-change="getStates()" ng-model="editUser.zone_name" >
									<option>Select</option>
									<option ng-repeat="z in zones" ng-selected="z.zone_name == editUser.zone_name" value="{{z.zone_name}}">{{z.zone_name}}</option>
								</select>
							</div>
						</div>
						
						<div class="col-md-6">  <!-- second col-md-6 start here -->
							<div class="form-group">
							<label>State</label>
							<select class="form-control" id="userStates" ng-change="getCites()" ng-model="editUser.state_name" >
								<option>Select</option>
								<option ng-repeat="z in states" ng-selected="z.state_name == editUser.state_name" value="{{z.state_name}}">{{z.state_name}}</option>
							</select>
						</div>
						</div>
						
						
						<div class="col-md-6">  <!-- First col-md-6 start here -->
						
						<div class="form-group">
							<label>City/Town</label>
							<select class="form-control" id="userCity" ng-model="editUser.city_name" >
								<option>Select</option>
								<option ng-repeat="c in cites" ng-selected="c.city_name == editUser.city_name" value="{{c.city_name}}">{{c.city_name}}</option>
							</select>
						</div>
						</div>
						
						
					
				
					  
					</div>  <!-- Second row end here -->
					
					<div class="row" ng-show='editUser.role>=10'>
						<h4>Others</h4>
						<div class="col-md-6">  <!-- First col-md-6 start here -->
							
						<div class="form-group">
							<label for="">Beat route ID</label>
							<input type="text" class="form-control" ng-model="editUser.beat_route_id"  maxlength="20" id="" placeholder="Enter beat route id" >
						</div>
						</div>
						
						
						<div class="col-md-6">
						<div class="form-group">
							<label>ND Name</label>
							<select class="form-control" ng-model="editUser.nd_id" ng-change="getRDs()" >
								<option value="">Select</option>
								<option ng-repeat="x in NDs" ng-selected="x == editUser.nd_id"  value="{{x}}">{{x}}</option>
							</select>
						</div>
						</div>
						
						<div class="col-md-6">
							<div class="form-group">
							<label>RD Name</label>
							<select class="form-control" ng-model="editUser.rd_id" ng-change="getRTs()" >
								<option value="">Select</option>
								<option ng-repeat="x in RDs" ng-selected="x == editUser.rd_id"  value="{{x}}">{{x}}</option>
							</select>
						</div>
						</div>
						
						<div class="col-md-6">  <!-- second col-md-6 start here -->
						
							<div class="form-group">
							<label for="">RT Code</label>
							<!-- <input type="text" class="form-control" id="" ng-model="editUser.rt_code"  maxlength="20" placeholder="Enter RT Code" required> -->
							<select class="form-control" ng-model="editUser.rt_code" >
								<option value="">Select</option>
								<option ng-repeat="x in RTs" ng-selected="x.retailer_name == editUser.rt_code" value="{{x.retailer_name}}">{{x.retailer_name}}</option>
							</select>
						</div>
						</div>
						
					
					 <!-- First col-md-6 end here -->
						
						
						  <!-- second col-md-6 end here -->
					</div>  <!-- Third row end here -->
					<div class="row">
						<div class="col-xs-12">
							<button type="submit" class="btn btn-primary" >Save</button>
							<a type="button" class="btn btn-default" data-match-route="/admin/users" href="javascript:void(0);" onclick="window.history.back();">Cancel</a>
						</div>
						
					</div>
				
			</div>
		<!-- Main box-body  end here -->
		</form>
		</div>
	</div>
	
</div>
